#!/bin/bash
set -eux

export PATH=SINGULARITY_WORKING_DIR/ufs-weather-model/bin:${PATH}
#module use /apps/modules/modulefiles
#module use /contrib/EPIC/rocoto/modulefiles

#module load intelpython/2023.2.0
module load rocoto

ROCOTORUN=`which rocotorun`
ROCOTOSTAT=` which rocotostat`
ROCOTOCOMPLETE=`which rocotocomplete`
ROCOTO_SCHEDULER=slurm
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER
