[submodule "stacks/hpc-stack"]
	path = stacks/hpc-stack
	url = https://github.com/NOAA-EMC/hpc-stack
	branch = develop
[submodule "stacks/spack-stack"]
	path = stacks/spack-stack
	url = https://github.com/NOAA-EMC/spack-stack
	branch = develop
